# Node modules
node_modules/

# Environment files
# ignore any env files (local and example variants)
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Build / cache folders
dist/
build/
coverage/
.cache/
.parcel-cache/
.next/
.nuxt/

# IDEs
.vscode/
.idea/
.history/

# Misc
*.log
.DS_Store
.env.local
.eslintcache
.serverless
.turbo
.pnp.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
